---
component: navbar
---


<ul class="navbar">
  <li class="navbar__item"><a href="/">Hello</a></li>
  <li class="navbar__item"><a href="/about.html">About</a></li>
  {{!-- <li class="navbar__item"><a href="/works.html">Works</a></li> --}}
  {{!-- <li class="navbar__item"><a href="/articles/">Articles</a></li> --}}
  <li class="navbar__item"><a href="/contact.html">Get in touch</a></li>
</ul>
